@model IEnumerable<FptBook.Models.account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>User</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            Management
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.username }, new { @class = "fas fa-edit", @style = "color:seagreen" }) |
                @Html.ActionLink(" ", "Details", new { id = item.username }, new { @class = "fas fa-file", @style = "color:seagreen" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.username }, new { @class = "fas fa-trash", @style = "color:seagreen" })
            </td>
        </tr>
    }

</table>
